In [1]:
#Autor: Ian M.

import numpy as np
import pandas as pd
import os
import pathlib
from os import listdir
from os.path import isfile, join

In [21]:
#Lectura de nombres de archivos

directorio = 'C:/Users/Ian/Documents/GitHub/DATA-AMBIENTAL/SINCA/Consol/'
contenido = os.listdir(directorio)
registros = []
for fichero in contenido:
    if os.path.isfile(os.path.join(directorio, fichero)) and fichero.endswith('.txt'):
        registros.append(fichero)
print(registros)

['Consolidado_III_Atacama.txt', 'Consolidado_II_Antofagasta.txt', 'IV_estacion_andacollo_mp10.txt', 'IV_estacion_caimanes_mp10_mensual.txt', 'IV_estacion_camisas_mp10_mensual.txt', 'IV_estacion_chacay_mp10_mensual.txt', 'IV_estacion_chepiquilla_mp10.txt', 'IV_estacion_coiron_mp10_mensual.txt', 'IV_estacion_coquimbo_mp2.5.txt', 'IV_estacion_cuncumen_mp10.txt', 'IV_estacion_cuncumen_mp2.5.txt', 'IV_estacion_el_mauro_mp10_mensual.txt', 'IV_estacion_el_sauce_mp10.txt', 'IV_estacion_hospital_mp10.txt', 'IV_estacion_hotel_mina_mp10_mensual.txt', 'IV_estacion_la_serena_mp2.5.txt', 'IV_estacion_punta_chungo_mp10_mensual.txt', 'IV_estacion_quelen_alto_mp10_mensual.txt', 'IV_estacion_umeneta_plaza_centenario_mp10.txt']

In [14]:
#Conversor archivos a .csv

for i in registros:
    df = pd.read_csv(i, sep=" ")
    name = i.rstrip(i[-4:])
    df.to_csv(name+".csv",index=False)

In [22]:
#UniÃ³n de Tablas

salida = []
for i in registros:
    dfaux = pd.read_csv(i, sep=" ")
    salida.append(dfaux.copy())
    #merged_df = df.append(df)
    #print(merged_df)
dfsalida = pd.concat(salida)
dfsalida

,"FECHA..YYMMDD.,HORA..HHMM.,Registros.validados,Registros.preliminares,Registros.no.validados,X,identificador1,identificador2,FECHA..YYMMDD.,HORA..HHMM.,Registros.validados,Registros.preliminares,Registros.no.validados,X,identificador1,identificador2","FECHA..YYMMDD.,HORA..HHMM.,Registros.validados,Registros.preliminares,Registros.no.validados,X,identificador1,identificador2",FECHA..YYMMDD.,HORA..HHMM.,Registros.validados,Registros.preliminares,Registros.no.validados,X,identificador1,identificador2
0,"130601,100,85.0,,,,antofagasta,mp10,,,,,,,,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"130601,200,58.0,,,,antofagasta,mp10,,,,,,,,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"130601,300,52.0,,,,antofagasta,mp10,,,,,,,,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"130601,400,48.0,,,,antofagasta,mp10,,,,,,,,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"130601,500,75.0,,,,antofagasta,mp10,,,,,,,,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
143299,NaN,NaN,210508.0,1900.0,NaN,NaN,32.0,NaN,umeneta_plaza_centenario,mp10
143300,NaN,NaN,210508.0,2000.0,NaN,NaN,31.0,NaN,umeneta_plaza_centenario,mp10
143301,NaN,NaN,210508.0,2100.0,NaN,NaN,29.0,NaN,umeneta_plaza_centenario,mp10
143302,NaN,NaN,210508.0,2200.0,NaN,NaN,8.0,NaN,umeneta_plaza_centenario,mp10
143303,NaN,NaN,210508.0,2300.0,NaN,NaN,24.0,NaN,umeneta_plaza_centenario,mp10

In [23]:
#Grabado de la tabla unida a csv

dfsalida.to_csv("Consolidado_IV_Coquimbo.txt",index=False)

In [17]:
#Grabado de la tabla unida a csv

dfsalida.to_csv("Consolidado_Antofagasta.txt",index=False)

In [5]:
filename = i
name = filename.rstrip(filename[-4:])
print(name)

I_estacion_alto_hospicio_mp2.5

In [9]:
df1 = pd.read_csv(registros[0], sep=" ")
df2 = pd.read_csv(registros[1], sep=" ")

df3 = df1.append(df1)
print(merged_df)

       FECHA..YYMMDD.  HORA..HHMM.  Registros.validados  \
1              130601          100                 85.0
2              130601          200                 58.0
3              130601          300                 52.0
4              130601          400                 48.0
5              130601          500                 75.0
...               ...          ...                  ...
69499          210505         1900                  NaN
69500          210505         2000                  NaN
69501          210505         2100                  NaN
69502          210505         2200                  NaN
69503          210505         2300                  NaN

       Registros.preliminares  Registros.no.validados   X identificador1  \
1                         NaN                     NaN NaN    antofagasta
2                         NaN                     NaN NaN    antofagasta
3                         NaN                     NaN NaN    antofagasta
4                         NaN                     NaN NaN    antofagasta
5                         NaN                     NaN NaN    antofagasta
...                       ...                     ...  ..            ...
69499                     8.0                     NaN NaN    antofagasta
69500                    12.0                     NaN NaN    antofagasta
69501                    27.0                     NaN NaN    antofagasta
69502                    10.0                     NaN NaN    antofagasta
69503                    11.0                     NaN NaN    antofagasta

      identificador2
1               mp10
2               mp10
3               mp10
4               mp10
5               mp10
...              ...
69499          mp2.5
69500          mp2.5
69501          mp2.5
69502          mp2.5
69503          mp2.5

[139006 rows x 8 columns]